body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial;
}

nav{
    background:#000;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
    font-weight:bold;
}

.container{
    width:400px;
    margin:50px auto;
    text-align:center;
}

input,
select,
button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:8px;
    border:none;
}

button{
    background:#00ff88;
    cursor:pointer;
    font-weight:bold;
}

.btn{
    display:block;
    background:#00ff88;
    color:black;
    text-decoration:none;
    padding:12px;
    margin-top:20px;
    border-radius:8px;
}
